{#######################################################}
{#                                                     #}
{#   Owl Carousel Neo - Particle for Gantry            #}
{#                                                     #}
{#   Purpose: This project is based on the default     #}
{#            Gantry Helium - Owl Carousel Particle    #}
{#            but extends it with additional features  #}
{#            (e.g. lazy load, timed slides, ...)      #}
{#            and also includes slick new designs.     #}
{#                                                     #}
{#   Author: Andreas Kar (thex) <andreas.kar@gmx.at>   #}
{#   Repository: https://git.io/fjwu5                  #}
{#   Homepage: https://gantryprojects.com              #}
{#                                                     #}
{#   -----------------                                 #}
{#   Orignal Particle:                                 #}
{#   -----------------                                 #}
{#   Author: RocketTheme                               #}
{#   Repository: https://git.io/fjwup                  #}
{#   Homepage: http://gantry.org/                      #}
{#                                                     #}
{#######################################################}

{% extends '@nucleus/partials/particle.html.twig' %}

{% set cAttrs = '' %}
{% if particle.tags %}
    {% for attr in particle.tag.attributes %}
        {% for key, value in attr %}
            {% set cAttrs = cAttrs ~ ' ' ~ key|e ~ '="' ~ value|e('html_attr') ~ '"' %}
        {% endfor %}
    {% endfor %}
{% endif %}

{% set neo = particle.neo %}
{% if neo.style and neo.style != 'helium' %}
    {% set ctnClasses = ' style-neo ' ~ neo.style %}
    {% if neo.edges and neo.edges != 'square' %}
        {% set ctnClasses = ctnClasses ~ ' sn-' ~ particle.neo.edges %}
    {% endif %}
    
    {% set ctnClasses = ctnClasses ~ ' sn-' ~ neo.dots_align|default('dots-c') %}
    {% set ctnClasses = ctnClasses ~ ' sn-' ~ neo.theme|default('theme-b') %}
    
    {% set hControl = (neo.theme|default('theme-b') == 'theme-b') ? 'control-g1' : 'control-g2' %}
    {% set ctnClasses = ctnClasses ~ ' sn-' ~ neo.control_color|default(hControl) %}
    
{% endif %}

{% if neo.imageOverlay and neo.imageOverlay != 'disable' and neo.imageOverlay != 'accent' %}
    {% set ctnClasses = ctnClasses ~ ' sn-' ~ neo.imageOverlay|default('overlay-h1') %}
{% endif %}

{% set arrowLeft = 'fa-' ~ neo.arrow|default('chevron') ~ '-left' %}
{% set arrowRight = 'fa-' ~ neo.arrow|default('chevron') ~ '-right' %}

{% set scriptType = 'text/javascript' %}

{% set apiRev = particle.api.version|default("2.5.4") %}
{% set jsPlace = particle.js.placement|default('head') %}
{% set jsExec = particle.js.execution|default("both") %}
{% set jsExecAttr = _self.getJSExecution(jsExec) %}
{% set jsPrior = particle.js.priority|default(0) %}

{% set cdnRepo = particle.cdn.base_url|default('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2') %}
{% set jsPath = _self.getResourceFilePath(particle.js, cdnRepo, apiRev, 
    'owl.carousel.min', 'owl.carousel.2.3.4.min', 'js') %}

{% set loadEager = particle.lazyLoadEager|default('0') %}
{% set loadTime = particle.loadTime|default('full_load') %}

{%- set dots -%}
{{ _self.isEnabled(particle.dots|default(true)) }}
{%- endset -%}
{%- set nav -%}
{{ _self.isEnabled(particle.nav|default(false)) }}
{%- endset -%}
{%- set autoPlay -%}
{{ _self.isEnabled(particle.autoplay|default(false)) }}
{%- endset -%}

{% block particle %}

    {%- scripts in jsPlace with { priority: jsPrior } -%}
        {%- do gantry.load('jquery') -%}
        <script type="{{scriptType}}" src="{{url(jsPath)}}"{{jsExecAttr}}></script>
        <script type="text/javascript">
            var refreshFunction = function(){
                var $owl = jQuery('.owl-carousel');
                $owl.data('owl.carousel').options.nav = {{ nav }};
                $owl.data('owl.carousel').options.dots = {{ dots }};
                $owl.trigger( 'refresh.owl.carousel' );
            };

            var loadOwlCarousel = function() {
                var eachSlide = function(width) {
                    jQuery('.g-owlcarousel-item').each(function() {
                        if(jQuery(window).width() <= width && jQuery(this).find('a:first').length > 0) {
                            var linkTag = jQuery(this).find('a:first').clone().children().remove().end()[0].outerHTML;
                            jQuery(this).find('a').each(function() {
                                if(jQuery(this).hasClass('button')) {
                                    jQuery(this).parent().attr('data-html', jQuery(this)[0].outerHTML);
                                    jQuery(this).replaceWith('');
                                } else {
                                    jQuery(this).children().attr('data-html', jQuery(this)[0].outerHTML);
                                    var hHtml = jQuery(this).html();
                                    parent = jQuery(this).parent();
                                    jQuery(this).remove();
                                    parent.prepend(hHtml);
                                }
                            });
                            jQuery(this).wrapInner(linkTag);
                        } else {
                            if (jQuery(this).find('[data-html]').length > 0) {
                                var link = jQuery(this).find('a');
                                link.parent().html(link.html());
                                jQuery(this).find('[data-html]').each(function() {
                                    jQuery(this).html(jQuery(this).attr('data-html'));
                                    jQuery(this).removeAttr('data-html');
                                });
                            }
                        }
                    });
                };
                var owl = jQuery('#g-owlcarousel-{{ id }}');
                owl.owlCarousel({
                    items: 1,
                    rtl: {%- if gantry.page.direction == 'rtl' -%}true{%- else -%}false{%- endif -%},
                    loop: true,
                    navText: ['{{ particle.prevText|default('<i class="fa ' ~ arrowLeft ~ '" aria-hidden="true"></i>')|e('js') }}', '{{ particle.nextText|default('<i class="fa ' ~ arrowRight ~ '" aria-hidden="true"></i>')|e('js') }}'],
                    {%- if nav == 'true' and not particle.delaySlideElements -%}
                    nav: true,
                    {%- else -%}
                    nav: false,
                    {%- endif -%}
                    {%- if particle.nav_class -%}
                    navClass: ['owl-prev {{particle.nav_class|e}}','owl-next {{particle.nav_class|e}}'],
                    {%- endif -%}
                    {%- if dots == 'true' and not particle.delaySlideElements -%}
                    dots: true,
                    {%- else -%}
                    dots: false,
                    {%- endif -%}
                    {%- if particle.dots_class -%}
                    dotsClass: 'owl-dots {{particle.dots_class|e}}',
                    {%- endif -%}
                    {%- if autoPlay == 'true' -%}
                    autoplay: true,
                    autoplayTimeout: {{ particle.autoplaySpeed|default('5000')|e('js') }},
                    {%- else -%}
                    autoplay: false,
                    {%- endif -%}
                    {%- if particle.lazyLoadImages -%}
                    lazyLoad: true,
                        {%- if loadEager > 0 -%}
                            lazyLoadEager: {{ loadEager|e('js') }},
                        {%- endif -%}
                    {%- endif -%}
                });

                {%- if particle.imageLink == 'custom' -%}
                    var checkSize = function() { eachSlide({{particle.imageLinkBreakpoint|e|default(480)}}); };
                    checkSize();
                    {%- if particle.imageLinkResize|default(true) -%}
                        var resizeTimer;
                        jQuery(window).on('resize', function(e) {
                            clearTimeout(resizeTimer);
                            resizeTimer = setTimeout(function() {
                                checkSize();
                            }, 250);
                        });
                    {%- endif -%}
                {%- endif -%}

                {%- if particle.delaySlideElements -%}
                    jQuery('.g-owlcarousel-item').each(function() { jQuery(this).css('display',''); });
                    setTimeout(refreshFunction, {{ particle.delaySlideElementsTime|default(500) }});
                {%- endif -%}
            };

            {%- if loadTime == 'dom_ready' -%}
                jQuery(document).ready(loadOwlCarousel);
            {%- elseif showItem == 'instant' -%}
                loadOwlCarousel();
            {%- endif -%}

            jQuery(window).load(function() {
                {%- if loadTime == 'full_load' -%}
                    loadOwlCarousel();
                {%- endif -%}
                jQuery('.g-owlcarousel-item').each(function() { jQuery(this).css('display',''); });
                setTimeout(refreshFunction, {{ particle.delaySlideElementsTime|default(500) }});
            });
        </script>
    {%- endscripts -%}

    <div class="{{ particle.class|e }}"{{cAttrs|raw}}>
        {% if particle.title %}<h2 class="g-title">{{ particle.title|raw }}</h2>{% endif %}

        <div id="g-owlcarousel-{{ id }}" class="g-owlcarousel owl-carousel{% if neo.imageOverlay != 'disable' %} has-color-overlay{% endif %}{{ctnClasses}}">

            {% for item in particle.items %}
                {% set showItem = item.showItem|default('yes') %}
                {% set titleText = (item.linktitle) ? item.linktitle|e : item.title|e %}
                {% set buttonTitle = (item.buttontitle) ? item.buttontitle|e : item.linktext|e %}
                {% if showItem != 'yes' and showItem != 'no' %}
                    {% set format = (showItem == 'once') ? 'Y-m-d' : 'm-d' %}
                    {% set start, now, end = item.startDate|date(format), "now"|date(format), item.endDate|date(format) %}
                    {% if showItem == 'once' %}
                        {% if start <= now and end >= now %}
                            {% set showItem = 'yes' %}
                        {% endif %}       
                    {% elseif showItem == 'annual' %}
                        {% if (start <= end and start <= now and end >= now) or 
                              (start > end and (start <= now or end >= now)) %}
                            {% set showItem = 'yes' %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if showItem == 'yes' %}
                    <div class="g-owlcarousel-item {{ item.class|e }}" {% if particle.delaySlideElements %} style="display: none;"{% endif %}>
                        {% if particle.imageLink == 'enable' %}<a target="_self" href="{{ item.link|e }}" title="{{ titleText }}" tabindex="-1">{% endif %}
                            <div class="g-owlcarousel-item-wrapper">
                                <div class="g-owlcarousel-item-img">
                                    <img {% if particle.lazyLoadImages %}class="owl-lazy" data-{% endif %}src="{{ url(item.image)|e }}" alt="{{ item.title|e }}" />
                                </div>
                                <div class="g-owlcarousel-item-content-container">
                                    <div class="g-owlcarousel-item-content-wrapper">
                                        <div class="g-owlcarousel-item-content">
                                            {% if item.title and particle.enable_title|default(true) %}
                                                {% if particle.title_link and particle.imageLink != 'enable' %}<a target="_self" href="{{ item.link|e }}" title="{{ titleText }}" tabindex="-1">{% endif %}
                                                    <h1 class="g-owlcarousel-item-title{% if particle.title_class %} {{ particle.title_class|e }}{% endif %}">{{ item.title|raw }}</h1>
                                                {% if particle.title_link and particle.imageLink != 'enable' %}</a>{% endif %}
                                            {% endif %}
                                            {% if item.desc and particle.enable_desc|default(true) %}
                                                <h2 class="g-owlcarousel-item-desc{% if particle.desc_class %} {{ particle.desc_class|e }}{% endif %}">{{ item.desc|raw }}</h2>
                                            {% endif %}
                                            {% if item.link and particle.enable_btn %}
                                                <div class="g-owlcarousel-item-link {{ particle.button_class|e }}">
                                                    {% if particle.imageLink != 'enable' %}
                                                        <a target="_self" class="g-owlcarousel-item-button button{% if particle.button_class %} {{ item.button_class|e }}{% endif %}" href="{{ item.link|e }}" title="{{ buttonTitle }}" tabindex="-1">{{ item.linktext|raw }}</a>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% if particle.imageLink == 'enable' %}</a>{% endif %}
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock %}

{%- macro getResourceFilePath(element, cdnUrl, api, cdnFile, locFile, type) -%}
    {%- set elPath = element.path|default(locFile ~ "." ~ type) -%}
    {%- set elOpt = element.option|default("disabled") -%}
    {%- set path = empty -%}
    {%- if elOpt == 'local' or elOpt == 'global' -%}
        {%- set hPath = elPath -%}
        {%- if hPath is not empty and hPath|slice(0, 1)|lower == '/' -%}
            {%- set hPath = hPath|slice(1, (hPath|length - 1)) -%}
        {%- endif -%}
        {%- set hPath = type ~ '/' ~ hPath -%}
        {%- if elOpt == 'local' -%}
            {%- set path = 'gantry-theme://' ~ hPath -%}
        {%- else -%}
            {%- set path = 'media/gantry5/engines/nucleus/' ~ hPath -%}
        {%- endif -%}
    {%- elseif elOpt == 'custom' -%}
        {%- set path = elPath -%}
    {%- endif -%}
    {%- if path is empty -%}
        {%- set path = cdnUrl ~ '/' ~ api ~ '/' ~ cdnFile ~ "." ~ type -%}
    {%- endif -%}
    {{- path|raw -}}
{%- endmacro -%}

{%- macro getJSExecution(type) -%}
    {%- set attribute = '' -%}
    {%- if type == 'defer' or type == 'both' -%}
        {%- set attribute = 'defer="defer"' -%}
    {%- endif -%}
    {%- if type == 'both' -%}
        {%- set attribute = attribute ~ ' ' -%}
    {%- endif -%}
    {%- if type == 'async' or type == 'both' -%}
        {%- set attribute = attribute ~ 'async="async"' -%}
    {%- endif -%}
    {%- if type is not empty -%}
        {%- set attribute = ' ' ~ attribute -%}
    {%- endif -%}
    {{- attribute|raw -}}
{%- endmacro -%}

{%- macro isEnabled(field) -%}
    {%- if field == 'disable' or not field  -%}
        false
    {%- else -%}
        true
    {%- endif -%}
{%- endmacro -%}