{#######################################################}
{#                                                     #}
{#   Owl Carousel Neo - Particle for Gantry            #}
{#                                                     #}
{#   Purpose: This project is based on the default     #}
{#            Gantry Helium - Owl Carousel Particle    #}
{#            but extends it with additional features  #}
{#            (e.g. lazy load, timed slides, ...)      #}
{#            and also includes slick new designs.     #}
{#                                                     #}
{#   Author: Andreas Kar (thex) <andreas.kar@gmx.at>   #}
{#   Repository: https://git.io/fjwu5                  #}
{#   Homepage: https://gantryprojects.com              #}
{#                                                     #}
{#   -----------------                                 #}
{#   Orignal Particle:                                 #}
{#   -----------------                                 #}
{#   Author: RocketTheme                               #}
{#   Repository: https://git.io/fjwup                  #}
{#   Homepage: http://gantry.org/                      #}
{#                                                     #}
{#######################################################}

{% extends '@nucleus/partials/particle.html.twig' %}

{% set cAttrs = '' %}
{% if particle.tags %}
    {% for attr in particle.tag.attributes %}
        {% for key, value in attr %}
            {% set cAttrs = cAttrs ~ ' ' ~ key|e ~ '="' ~ value|e('html_attr') ~ '"' %}
        {% endfor %}
    {% endfor %}
{% endif %}

{% set neo = particle.neo %}
{% set helium = particle.helium %}
{% set all = particle.all %}

{% set neoTheme = all.theme|default('theme-b') %}

{% if neo.style and neo.style != 'helium' %}
    {% set ctnClasses = ' style-neo ' ~ neo.style %}
    {% set neoTheme = (neoTheme == 'accent') ? 'theme-b' : neoTheme %}
    {% set ctnClasses = ctnClasses ~ ' sn-' ~ neoTheme %}
{% endif %}

{% if neo.style and neo.style == 'helium' %}
    {% if neoTheme != 'accent' %}
        {% set heliumColor = neoTheme == 'theme-b' ? 'color-b' : 'color-w' %}
        {% set ctnClasses = ctnClasses ~ ' sh-' ~ heliumColor %}
    {% endif %}
    {% set ctnClasses = ctnClasses ~ ' sh-' ~ helium.dots_position|default('dots-d') %}

    {% set underlay = helium.underlay|default('disable') %}
    {% if underlay != 'disable' %}
        {% set ctnClasses = ctnClasses ~ ' sh-' ~ underlay %}
    {% endif %}

    {% set navBorder = (helium.nav_border == 'default') ? 'nav-btn-b-def' : helium.nav_border %}
    {% set ctnClasses = ctnClasses ~ ' sh-' ~ navBorder %}

    {% if helium.nav_shape != 'default' %}
        {% set ctnClasses = ctnClasses ~ ' sh-' ~ helium.nav_shape %}
    {% endif %}

    {% if helium.nav_position != 'default' %}
        {% set ctnClasses = ctnClasses ~ ' sh-' ~ helium.nav_position %}
    {% endif %}
{% endif %}

{% if all.edges and all.edges != 'square' %}
    {% set ctnClasses = ctnClasses ~ ' sa-' ~ particle.all.edges %}
{% endif %}  

{% set ctnClasses = ctnClasses ~ ' sa-' ~ all.dots_align|default('dots-c') %}

{% set dotSize = all.dots_size|default('default') %}
{% if dotSize != 'default' %}
    {% set ctnClasses = ctnClasses ~ ' sa-' ~ dotSize %}
{% endif %}

{% if neo.style != 'helium' %}
    {% set hCtrlClass1 = (neoTheme == 'theme-b') ? 'control-d-g1' : 'control-d-g2' %}

    {% set hCtrlClass2 = all.dots_color|default(hCtrlClass1) %}
    {% set hCtrlClass2 = (hCtrlClass2 != 'default') ? hCtrlClass2 : hCtrlClass1 %}
    {% set ctnClasses = ctnClasses ~ ' sa-' ~ hCtrlClass2 %}

    {% set hCtrlClass2 = all.buttons_color|default(hCtrlClass1) %}
    {% set hCtrlClass2 = (hCtrlClass2 != 'default') ? hCtrlClass2 : hCtrlClass1 %}
    {% set ctnClasses = ctnClasses ~ ' sa-' ~ hCtrlClass2 %}

    {% set hCtrlClass2 = all.text_color|default(hCtrlClass1) %}
    {% set hCtrlClass2 = (hCtrlClass2 != 'default') ? hCtrlClass2 : hCtrlClass1 %}
    {% set ctnClasses = ctnClasses ~ ' sa-' ~ hCtrlClass2 %}

{% elseif neo.style == 'helium' %}

    {% if all.dots_color and all.dots_color != 'default' %}
        {% set ctnClasses = ctnClasses ~ ' sa-' ~ all.dots_color %}
    {% endif %}

    {% if all.buttons_color and all.buttons_color != 'default' %}
        {% set ctnClasses = ctnClasses ~ ' sa-' ~ all.buttons_color %}
    {% endif %}

    {% if all.text_color and all.text_color != 'default' %}
        {% set ctnClasses = ctnClasses ~ ' sa-' ~ all.text_color %}
    {% endif %}

{% endif %}

{% if all.imageOverlay and all.imageOverlay != 'disable' and all.imageOverlay != 'accent' %}
    {% set ctnClasses = ctnClasses ~ ' sa-' ~ all.imageOverlay|default('overlay-h1') %}
{% endif %}

{% set arrowLeft = 'fa-' ~ all.arrow|default('chevron') ~ '-left' %}
{% set arrowRight = 'fa-' ~ all.arrow|default('chevron') ~ '-right' %}

{% set scriptType = 'text/javascript' %}

{% set apiRev = particle.api.version|default("2.5.4") %}
{% set jsPlace = particle.js.placement|default('head') %}
{% set jsExec = particle.js.execution|default("both") %}
{% set jsExecAttr = _self.getJSExecution(jsExec) %}
{% set jsPrior = particle.js.priority|default(0) %}

{% set cdnRepo = particle.cdn.base_url|default('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2') %}
{% set jsPath = _self.getResourceFilePath(particle.js, cdnRepo, apiRev, 
    'owl.carousel.min', 'owl.carousel.2.3.4.min', 'js') %}

{% set loadEager = particle.lazyLoadEager|default('0') %}
{% set loadTime = particle.loadTime|default('full_load') %}

{%- set dots -%}
{{ _self.isEnabled(particle.dots|default(true)) }}
{%- endset -%}
{%- set nav -%}
{{ _self.isEnabled(particle.nav|default(false)) }}
{%- endset -%}
{%- set autoPlay -%}
{{ _self.isEnabled(particle.autoplay|default(false)) }}
{%- endset -%}

{% set direction = particle.direction|default('gantry') %}
{% set responsiveRefreshRate = particle.responsiveRefreshRate|default(200) %}
{% set checkVisible = particle.checkVisible|default(true) %}
{% set merge = particle.merge|default(false) %}
{% set mergeFit = particle.mergeFit|default(true) %}
{% set navElement = particle.navElement|default('div') %}
{% set itemElement = particle.itemElement|default('div') %}
{% set stageElement = particle.stageElement|default('div') %}
{% set navContainer = particle.navContainer|default(false) %}
{% set dotsContainer = particle.dotsContainer|default(false) %}

{% set autoPlayHoverPause = particle.autoplayHoverPause|default(false) %}
{% set looping = particle.looping|default('loop') %}
{% set startPosition = particle.startPosition|default(0) %}
{% set slideBy = particle.slideBy|default(1) %}
{% set mouseDrag = particle.mouseDrag|default(true) %}
{% set touchDrag = particle.touchDrag|default(true) %}
{% set pullDrag = particle.pullDrag|default(true) %}
{% set freeDrag = particle.freeDrag|default(false) %}

{% set slideTransition = particle.slideTransition|default('none') %}
{% set fallbackEasing = particle.fallbackEasing|default('swing') %}
{% set smartSpeed = particle.smartSpeed|default(250) %}
{% set navSpeed = particle.navSpeed|default(250) %}
{% set dotsSpeed = particle.dotsSpeed|default(250) %}
{% set autoplaySpeed = particle.autoplayTSpeed|default(250) %}

{% set itemSpace = particle.item_space|default(0) %}
{% set stagePadding = particle.stage_padding|default(0) %}
{% set itemCenter = particle.item_center|default(false) %}

{% set rtlValue = '' %}
{% if direction == 'gantry' %}
    {% set rtlValue = gantry.page.direction == 'rtl' ? 'true' : 'false' %}
{% else %}
    {% set rtlValue = direction == 'rtl' ? 'true' : 'false' %}
{% endif %}

{%- if particle.responsive_option|length > 0 -%}
    {%- set responsive -%}
        {
        {%- for option in particle.responsive_option -%}
            {%- set breakpoint = option.breakpoint|default('') -%}
            {%- if breakpoint != '' -%}
                {%- set hItemCount = option.item_count|default('') -%}
                {%- set hSlideBy = option.slideBy|default('') -%}
                {%- set hItemSpace = option.item_space|default('') -%}
                {%- set hStagePadding = particle.stage_padding|default('') -%}
                {%- set hItemCenter = option.item_center|default('') -%}
                {%- set hAnimateIn = option.animateIn|default('') -%}
                {%- set hAnimateOut = option.animateOut|default('') -%}
                {{breakpoint|e('js')}}: {
                    {%- if hItemCount != '' -%}
                    items: {{hItemCount|e('js')}},
                    {%- endif -%}
                    {%- if hSlideBy != '' -%}
                    slideBy: {{hSlideBy|e('js')}},
                    {%- endif -%}
                    {%- if hItemSpace != '' -%}
                    margin: {{hItemSpace|e('js')}},
                    {%- endif -%}
                    {%- if hItemCenter != '' -%}
                    center: {{hItemCenter ? 'true' : 'false'}},
                    {%- endif -%}
                    {%- if hStagePadding != '' -%}
                    stagePadding: {{hStagePadding|e('js')}},
                    {%- endif -%} 
                    {%- if hAnimateIn != '' -%}
                    {%- set hAnimateIn = (hAnimateIn == 'none') ? '' : hAnimateIn -%}
                    animateIn: '{{hAnimateIn|e('js')}}',
                    {%- endif -%} 
                    {%- if hAnimateOut != '' -%}
                    {%- set hAnimateOut = (hAnimateOut == 'none') ? '' : hAnimateOut -%}
                    animateOut: '{{hAnimateOut|e('js')}}',
                    {%- endif -%} 
                    {%- for custom in option.custom_option -%}
                    {{custom.key|e('js')}}: {% if custom.useQuote %}'{% endif %}{{custom.value|e('js')}}{% if custom.useQuote %}'{% endif %},
                    {%- endfor -%}
                },
            {%- endif -%}
        {%- endfor -%}
     }
    {%- endset -%}
{%- endif -%}

{% block particle %}
    {%- scripts in jsPlace with { priority: jsPrior } -%}
        {%- do gantry.load('jquery') -%}
        <script type="{{scriptType}}" src="{{url(jsPath)}}"{{jsExecAttr}}></script>
        <script type="text/javascript">
            var refreshFunction = function(){
                var $owl = jQuery('.owl-carousel');
                $owl.data('owl.carousel').options.nav = {{ nav }};
                $owl.data('owl.carousel').options.dots = {{ dots }};
                $owl.trigger( 'refresh.owl.carousel' );
            };

            var loadOwlCarousel = function() {
                var owl = jQuery('#g-owlcarousel-{{ id }}');
                owl.owlCarousel({
                    items: {{particle.item_count|default(1)}},
                    {%- if itemSpace != 0 -%}
                    margin: {{itemSpace|e('js')}},
                    {%- endif -%}
                    {%- if stagePadding and stagePadding != 0 -%}
                    stagePadding: {{stagePadding|e('js')}},
                    {%- endif -%}
                    {%- if itemCenter -%}
                    center: true,
                    {%- endif -%}
                    {%- if startPosition and startPosition > 0 -%}
                    startPosition: {{startPosition|e('js')}},
                    {%- endif -%}
                    {%- if slideBy > 1 -%}
                    slideBy: {{slideBy|e('js')}},
                    {%- endif -%}
                    {%- if smartSpeed != 250 -%}
                    smartSpeed: {{smartSpeed|e('js')}},
                    {%- endif -%}
                    {%- if navSpeed != 250 -%}
                    navSpeed: {{navSpeed|e('js')}},
                    {%- endif -%}       
                    {%- if dotsSpeed != 250 -%}
                    dotsSpeed: {{dotsSpeed|e('js')}},
                    {%- endif -%}
                    {%- if autoplaySpeed != 250 -%}
                    autoplaySpeed: {{autoplaySpeed|e('js')}},
                    {%- endif -%}
                    {%- if slideTransition != 'none' -%}
                    slideTransition: '{{slideTransition|e('js')}}',
                    {%- endif -%}
                    {%- if fallbackEasing != 'swing' -%}
                    fallbackEasing: '{{fallbackEasing|e('js')}}',
                    {%-endif -%}
                    {%- if responsiveRefreshRate != 200 -%}
                    responsiveRefreshRate: {{responsiveRefreshRate|e('js')}},
                    {%- endif -%}
                    {%- if not checkVisible -%}
                    checkVisible: false,
                    {%- endif -%}
                    {%- if navElement != 'div' -%}
                    navElement: '{{navElement|e('js')}}',
                    {%- endif -%}             
                    {%- if itemElement != 'div' -%}
                    itemElement: '{{itemElement|e('js')}}',
                    {%- endif -%}              
                    {%- if stageElement != 'div' -%}
                    stageElement: '{{stageElement|e('js')}}',
                    {%- endif -%}  
                    {%- if navContainer and navContainer != '' -%}
                    navContainer: '{{navContainer|e('js')}}',
                    {%- endif -%}
                    {%- if dotsContainer and dotsContainer != '' -%}
                    dotsContainer: '{{dotsContainer|e('js')}}',      
                    {%- endif -%}                   
                    {%- if particle.animateIn -%}
                    animateIn: '{{particle.animateIn|e('js')}}',
                    {%- endif -%}
                    {%- if particle.animateOut -%}
                    animateOut: '{{particle.animateOut|e('js')}}',
                    {%- endif -%}
                    {%- if merge -%}
                    merge: true,
                    {%- endif -%}
                    {%- if not mergeFit -%}
                    mergeFit: false,
                    {%- endif -%}
                    rtl: {{rtlValue}},
                    {%- if looping == 'loop' -%}
                    loop: true,
                    {%- elseif looping == 'rewind' -%}
                    rewind: true,
                    {%- endif -%}
                    navText: ['{{ particle.prevText|default('<i class="fa ' ~ arrowLeft ~ '" aria-hidden="true"></i>')|e('js') }}', '{{ particle.nextText|default('<i class="fa ' ~ arrowRight ~ '" aria-hidden="true"></i>')|e('js') }}'],
                    {%- if nav == 'true' and not particle.delaySlideElements -%}
                    nav: true,
                    {%- else -%}
                    nav: false,
                    {%- endif -%}
                    {%- if particle.nav_class -%}
                    navClass: ['owl-prev {{particle.nav_class|e('js')}}','owl-next {{particle.nav_class|e('js')}}'],
                    {%- endif -%}
                    {%- if dots == 'true' and not particle.delaySlideElements -%}
                    dots: true,
                    {%- else -%}
                    dots: false,
                    {%- endif -%}
                    {%- if particle.dots_class -%}
                    dotsClass: 'owl-dots {{particle.dots_class|e('js')}}',
                    {%- endif -%}
                    {%- if autoPlay == 'true' -%}
                    autoplay: true,
                    autoplayTimeout: {{ particle.autoplaySpeed|default('5000')|e('js') }},
                        {%- if autoPlayHoverPause -%}
                            autoplayHoverPause: true,
                        {%- endif -%}
                    {%- else -%}
                    autoplay: false,
                    {%- endif -%}
                    {%- if not mouseDrag -%}
                    mouseDrag: false,
                    {%- endif -%}
                    {%- if not touchDrag -%}
                    touchDrag: false,
                    {%- endif -%}
                    {%- if not pullDrag -%}     
                    pullDrag: false,
                    {%- endif -%}
                    {%- if freeDrag -%}
                    freeDrag: true,
                    {%- endif -%}
                    {%- if particle.lazyLoadImages -%}
                    lazyLoad: true,
                        {%- if loadEager > 0 -%}
                            lazyLoadEager: {{ loadEager|e('js') }},
                        {%- endif -%}
                    {%- endif -%}
                    {%- if responsive and responsive != '' -%}
                    responsive: {{responsive|raw}}
                    {%- endif -%}
                });

                {%- if particle.slideLink == 'custom' -%}
                    var eachSlide = function(width) {
                        var windowWidth = jQuery(window).width();
                        jQuery('.g-owlcarousel-item').each(function() {
                            if(windowWidth <= width && jQuery(this).find('> a').length == 0) {
                                var linkTag = jQuery(this).find('a:first-child').clone().removeClass().empty().remove();
                                jQuery(this).find('a').each(function() {
                                    if(jQuery(this).hasClass('button')) {
                                        jQuery(this).parent().attr('data-html', jQuery(this)[0].outerHTML);
                                        var newButton = jQuery(this).clone().removeAttr('href').removeAttr('target');
                                        jQuery(this).replaceWith(newButton[0].outerHTML.replace('<a ', '<span ').replace('<\/a', '<\/span'));
                                    } else {
                                        jQuery(this).children().attr('data-html', jQuery(this)[0].outerHTML);
                                        var hHtml = jQuery(this).html();
                                        parent = jQuery(this).parent();
                                        jQuery(this).remove();
                                        parent.prepend(hHtml);
                                    }
                                });
                                jQuery(this).wrapInner(linkTag[0].outerHTML);
                            } else if(windowWidth > width) {
                                if (jQuery(this).find('[data-html]').length > 0) {
                                    var link = jQuery(this).find('> a');
                                    link.parent().html(link.html());
                                    jQuery(this).find('[data-html]').each(function() {
                                        jQuery(this).html(jQuery(this).attr('data-html'));
                                        jQuery(this).removeAttr('data-html');
                                    });
                                }
                            }
                        });
                    };
                    var checkSize = function() { eachSlide({{particle.slideLinkBreakpoint|e|default(480)}}); };
                    checkSize();
                    {%- if particle.slideLinkResize|default(true) -%}
                        var resizeTimer;
                        jQuery(window).on('resize', function(e) {
                            clearTimeout(resizeTimer);
                            resizeTimer = setTimeout(function() {
                                checkSize();
                            }, 250);
                        });
                    {%- endif -%}
                {%- endif -%}

                {%- if particle.delaySlideElements -%}
                    jQuery('.g-owlcarousel-item').each(function() { jQuery(this).css('display',''); });
                    setTimeout(refreshFunction, {{ particle.delaySlideElementsTime|default(500) }});
                {%- endif -%}
            };

            {%- if loadTime == 'dom_ready' -%}
                jQuery(document).ready(loadOwlCarousel);
            {%- elseif showItem == 'instant' -%}
                loadOwlCarousel();
            {%- endif -%}

            jQuery(window).load(function() {
                {%- if loadTime == 'full_load' -%}
                    loadOwlCarousel();
                {%- endif -%}
                jQuery('.g-owlcarousel-item').each(function() { jQuery(this).css('display',''); });
                setTimeout(refreshFunction, {{ particle.delaySlideElementsTime|default(500) }});
            });
        </script>
    {%- endscripts -%}

    <div class="{{ particle.class|e }}"{{cAttrs|raw}}>
        {% if particle.title %}<h2 class="g-title">{{ particle.title|raw }}</h2>{% endif %}

        <div id="g-owlcarousel-{{ id }}" class="g-owlcarousel owl-carousel{% if all.imageOverlay != 'disable' %} has-color-overlay{% endif %}{{ctnClasses}}">

            {% for item in particle.items %}
                {% set showItem = item.showItem|default('yes') %}
                {% set titleText = (item.linktitle) ? item.linktitle|e : item.title|e %}
                {% set buttonTitle = (item.buttontitle) ? item.buttontitle|e : item.linktext|e %}
                {% if showItem != 'yes' and showItem != 'no' %}
                    {% set format = (showItem == 'once') ? 'Y-m-d' : 'm-d' %}
                    {% set start, now, end = item.startDate|date(format), "now"|date(format), item.endDate|date(format) %}
                    {% if showItem == 'once' %}
                        {% if start <= now and end >= now %}
                            {% set showItem = 'yes' %}
                        {% endif %}
                    {% elseif showItem == 'annual' %}
                        {% if (start <= end and start <= now and end >= now) or 
                              (start > end and (start <= now or end >= now)) %}
                            {% set showItem = 'yes' %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if showItem == 'yes' %}
                    <div class="g-owlcarousel-item {{ item.class|e }}" {% if particle.delaySlideElements %} style="display: none;"{% endif %}{% if item.mergevalue != '1' %} data-merge="{{item.mergevalue|e}}"{% endif %}>
                        {% if particle.slideLink == 'enable' %}<a target="_self" href="{{ item.link|e }}" title="{{ titleText }}" tabindex="-1">{% endif %}
                            <div class="g-owlcarousel-item-wrapper">
                                <div class="g-owlcarousel-item-img">
                                    <img {% if particle.lazyLoadImages %}class="owl-lazy" data-{% endif %}src="{{ url(item.image)|e }}" alt="{{ item.title|e }}" />
                                </div>
                                <div class="g-owlcarousel-item-content-container">
                                    <div class="g-owlcarousel-item-content-wrapper">
                                        <div class="g-owlcarousel-item-content">
                                            {% if item.title and particle.enable_title|default(true) %}
                                                {% if particle.title_link and particle.slideLink != 'enable' %}<a target="_self" href="{{ item.link|e }}" title="{{ titleText }}" tabindex="-1">{% endif %}
                                                    <h1 class="g-owlcarousel-item-title{% if particle.title_class %} {{ particle.title_class|e }}{% endif %}">{{ item.title|raw }}</h1>
                                                {% if particle.title_link and particle.slideLink != 'enable' %}</a>{% endif %}
                                            {% endif %}
                                            {% if item.desc and particle.enable_desc|default(true) %}
                                                <h2 class="g-owlcarousel-item-desc{% if particle.desc_class %} {{ particle.desc_class|e }}{% endif %}">{{ item.desc|raw }}</h2>
                                            {% endif %}
                                            {% if item.link and particle.enable_btn %}
                                                <div class="g-owlcarousel-item-link {{ particle.button_class|e }}">
                                                    {% set btnClasses = (particle.button_class|e) ? ' ' ~ particle.button_class|e : '' %}
                                                    {% set btnClasses = btnClasses ~ ((item.buttonclass|e) ? ' ' ~ item.buttonclass|e : '') %}
                                                    <{% if particle.slideLink != 'enable' %}a target="_self" href="{{ item.link|e }}"{% else %}span{% endif %} class="g-owlcarousel-item-button button{{btnClasses}}" title="{{ buttonTitle }}" tabindex="-1">{{ item.linktext|raw }}</{% if particle.slideLink != 'enable' %}a{% else %}span{% endif %}>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% if particle.slideLink == 'enable' %}</a>{% endif %}
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock %}

{%- macro getResourceFilePath(element, cdnUrl, api, cdnFile, locFile, type) -%}
    {%- set elPath = element.path|default(locFile ~ "." ~ type) -%}
    {%- set elOpt = element.option|default("disabled") -%}
    {%- set path = empty -%}
    {%- if elOpt == 'local' or elOpt == 'global' -%}
        {%- set hPath = elPath -%}
        {%- if hPath is not empty and hPath|slice(0, 1)|lower == '/' -%}
            {%- set hPath = hPath|slice(1, (hPath|length - 1)) -%}
        {%- endif -%}
        {%- set hPath = type ~ '/' ~ hPath -%}
        {%- if elOpt == 'local' -%}
            {%- set path = 'gantry-theme://' ~ hPath -%}
        {%- else -%}
            {%- set path = 'media/gantry5/engines/nucleus/' ~ hPath -%}
        {%- endif -%}
    {%- elseif elOpt == 'custom' -%}
        {%- set path = elPath -%}
    {%- endif -%}
    {%- if path is empty -%}
        {%- set path = cdnUrl ~ '/' ~ api ~ '/' ~ cdnFile ~ "." ~ type -%}
    {%- endif -%}
    {{- path|raw -}}
{%- endmacro -%}

{%- macro getJSExecution(type) -%}
    {%- set attribute = '' -%}
    {%- if type == 'defer' or type == 'both' -%}
        {%- set attribute = 'defer="defer"' -%}
    {%- endif -%}
    {%- if type == 'both' -%}
        {%- set attribute = attribute ~ ' ' -%}
    {%- endif -%}
    {%- if type == 'async' or type == 'both' -%}
        {%- set attribute = attribute ~ 'async="async"' -%}
    {%- endif -%}
    {%- if type is not empty -%}
        {%- set attribute = ' ' ~ attribute -%}
    {%- endif -%}
    {{- attribute|raw -}}
{%- endmacro -%}

{%- macro isEnabled(field) -%}
    {%- if field == 'disable' or not field  -%}
        false
    {%- else -%}
        true
    {%- endif -%}
{%- endmacro -%}